[run]
include =
    vkontakte/*
omit =
    vkontakte/tests.py

[report]
exclude_lines =
    def __repr__
    def __unicode__
    def parse_args
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.: